<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>barcelona.rental.monitor</string>
  <key>WorkingDirectory</key>
  <string>/Users/florenciaparradoricca/Documents/Dpto</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>/Users/florenciaparradoricca/Documents/Dpto/src/monitor.js</string>
    <string>check</string>
  </array>
  <key>StartInterval</key>
  <integer>900</integer>
  <key>StandardOutPath</key>
  <string>/Users/florenciaparradoricca/Documents/Dpto/data/monitor.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/florenciaparradoricca/Documents/Dpto/data/monitor.err.log</string>
</dict>
</plist>
